.auth-global-page {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E2574C;
}

.image {
  height: 50%;
}

@media (max-width: 1100px) {
  .image {
    display: none;
  }
  .auth-global-page {
    min-height: 90vh;
  }
}